.newspaper {
  max-width: min(90%, 75em);
  /* margin-bottom: 2em; */
  columns: auto 35em;
  gap: 5em;
  margin: 1em auto;
  /* column-gap: 5em; */
}

.newspaper a {
  color: var(--clr-accent-400);
}

.headline {
  font-size: 1.5rem;
  font-weight: 900;
  font-variant: small-caps;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
  /* padding-top: .5em; */
}

.news-card {
  display: flex;
  flex-direction: column;
  break-inside: avoid;
  page-break-inside: avoid;
  margin-bottom: 2em;
  /* color: var(--clr-highlight-200); */
}

.news-card .headline {
  /* color: var(--clr-accent-400); */
  font-size: 1.5em;
  font-weight: 900;
  font-variant: small-caps;
  line-height: 1;
  margin: 0 auto 0.25em;
  padding-top: 0.5em;
}
.news-card .heading {
  /* color: var(--clr-accent-400); */
  font-size: 1.5em;
  font-weight: 900;
  font-variant: small-caps;
  line-height: 1;
  margin: 0 auto 0.25em;
  padding-top: 0.5em;
}

.news-card .text {
  font-size: 0.9rem;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  color: var(--clr-text-light);
}

.glow-box {
  box-shadow: 0px 0px 1em 0.5em var(--clr-highlight-600);
}

.plain {
  box-shadow: none;
}

.card {
  cursor: pointer;
  display: grid;
  grid-template:
    "title  image"
    "text   image"
    /1fr 4.5em;
  padding-left: 0.5rem;
  /* padding-right: 0.5rem; */
  margin-bottom: 2em;
  /* background-color: white; */
}

.card .title {
  grid-area: title;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-variant: small-caps;
  padding-block: 0.25em;
  margin: 0 auto;
  color: var(--clr-accent-400);
  /* background-color: white; */
}

.card .text {
  grid-area: text;
  line-height: 1;
  font-size: 0.9em;
  letter-spacing: 1px;
  padding-bottom: 0.25em;
  color: var(--clr-text-light);
  margin: 0 auto;
  text-align: center;
}

.card img {
  grid-area: image;
  aspect-ratio: 1/1;
  height: 100%;
  background-color: var(--clr-primary-400);
}

.card:hover{
background: var(--gradientv);
}

.newspaper .nobreak {
  break-inside: avoid;
  page-break-inside: avoid;
  margin-bottom: 2em;
}

.newspaper .nobreak h1 {
  width: 30em;
  text-align: center;
  color: var(--clr-text-light);
}
article {
  /* font-size: 1rem; */
  line-height: 1.6;
  border: 1px solid black;
  margin-bottom: 15px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.904);
}

article h3 {
  font-size: 1.5em;
  letter-spacing: 3px;
  padding: 5px;
  color: var(--clr-accent);
}
article p {
  width: 100%;
  /* font-size: 1rem; */
  padding: 5px;
}
article:hover {
  background-image: var(--gradientv);
}
article .card {
  /* font-size: 1rem; */
  border: 1px solid black;
  margin-bottom: 15px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.904);
}

.WideContainer {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
